
#        ________                       ______                          __
#       / ____/ /___ _____  ____ _     / ____/___  _________ ___  ____ _/ /_
#      / /   / / __ `/ __ \/ __ `/    / /_  / __ \/ ___/ __ `__ \/ __ `/ __/
#     / /___/ / /_/ / / / / /_/ /    / __/ / /_/ / /  / / / / / / /_/ / /_
#     \____/_/\__,_/_/ /_/\__, /    /_/    \____/_/  /_/ /_/ /_/\__,_/\__/
#                        /____/
#

Language: Cpp
ColumnLimit: 100

UseTab: Never
TabWidth: 4
IndentWidth: 4

InsertNewlineAtEOF: true

ContinuationIndentWidth: 4
AlignConsecutiveAssignments: Consecutive
AlignTrailingComments: true

# ==============================
#         Break Style
# ==============================
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterControlStatement: Always
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: true
  BeforeCatch: true
  BeforeElse: true
  BeforeLambdaBody: true
  BeforeWhile: false
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty

AlwaysBreakBeforeMultilineStrings: false

Cpp11BracedListStyle: true
AlignAfterOpenBracket: true
BracedInitializerIndentWidth: 2

# ==============================
#         Constructor 
# ==============================
BreakConstructorInitializers: BeforeComma
ConstructorInitializerIndentWidth: 4
PackConstructorInitializers: NextLine

# ==============================
#       Pack Parameters
# ==============================
PackArguments:
  BinPack: UseBreakAfter
  BreakAfter: 4
PackParameters:
  BinPack: UseBreakAfter
  BreakAfter: 4
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true

AlignArrayOfStructures: Right

# ==============================
#       Access Modifier 
# ==============================
AccessModifierOffset: -4
EmptyLineAfterAccessModifier: Never
EmptyLineBeforeAccessModifier: Never

# ==============================
#         Pointer Style
# ==============================
DerivePointerAlignment: false
PointerAlignment: Left
ReferenceAlignment: Pointer

# ==============================
#        Align Operands
# ==============================
AlignOperands: Align
BreakBeforeBinaryOperators: None

# ==============================
#         Namespace
# ==============================
FixNamespaceComments: true
NamespaceIndentation: None

# ==============================
#      Include Sort Order
# ==============================
SortIncludes:
  Enabled: false